# Common hiddnen files
.*

# Excluding gitignore
!.gitignore

# node_module depencies
node_modules

# Private notes folder (for developers)
private

# Hide secure configs
config/secure/*.js
config/secure/*.json

# Unhide sample configs
!config/secure/*.sample.js
!config/secure/*.sample.json
